<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">&copy; 2019 Codecool Budapest</div>
                <div class="p-2 bd-highlight"><a class="btn btn-outline-success" href="/"> Home </a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>